<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main>
  <h1>This is the owners page</h1>

  <h2>Our owners list </h2>

  <ol class="list-group">
    <% owners.forEach(({name, email}) => { %>
    <li class="list-group-item">Name: <%= name %> , email: <%= email %> </li>
    <% }) %>
  </ol>
</main>

<%- include('../partials/footer.ejs') %>
