<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main>
  <h1>This is the owners page</h1>
  <% if (locals.result) { %>
  <div class="alert alert-success" role="alert"> Owner created <%= result.name %> </div>
  <% } %>

  <h2>Our owners list <a class="btn btn-info float-right" href="/owners/new">Add Owner</a></h2>

  <ol class="list-group">
    <% owners.forEach(({name, email, createdAt: date}) => { %>
    <li class="list-group-item"
      >Name: <%= name %> , email: <%= email %> <br />
      <small class="text-muted"><%= date.toLocaleTimeString() %> </small>
      <form class="float-right" action="/owners/delelte/id" method="delete">
        <button class="btn btn-danger" type="submit">Delete me</button>
      </form>
    </li>
    <% }) %>
  </ol>
</main>

<%- include('../partials/footer.ejs') %>
