<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
<h2>Single owner page</h2>
<!-- cia turim matyti vieno ownerio html  -->

<h1> <%= name %> </h1>
<h2><%= email %></h2>
<h2><%= createdAt %></h2>

<!-- /owners/single/id -->

<!-- router GET to /owners/single/id -->

<!-- panaudoti findById ir gauti esamo ownerio objekta -->

<!-- perduoti ta objekta i single view ir atvaizduoti info -->
<%- include('../partials/footer.ejs') %>
